@font-face {
    font-family: 'Future New Light';
    src: url('../fonts/FuturaNewLight.otf');
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: #151c28;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Future New Light', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    transform: all 0.3s ease;
}

a:hover {
    color: #AE9877;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.container h1 {
    font-size: 70px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}   

