@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SF-Pro-Display-Light.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Ultralight';
    src: url('../fonts/SF-Pro-Display-Ultralight.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Future New Light';
    src: url('../fonts/FuturaNewLight.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Future New Bold';
    src: url('../fonts/FuturaNewLight.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Thin';
    src: url('../fonts/SF-Pro-Display-Thin.otf');
    font-weight: 400;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #AE9877;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #EDE4D7;
    background-color: #151c28;
}


/*
Для того чтобы когда в input вводятся только цифры, 
браузер не отображал некрасивый ползунок увелечения числа
*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    width: 100%;  
}

.line {
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
}

/* Верхрняя секция главной страницы */

.main-page-top {
    min-height: 200px;
    background-color: #151c28;
}

/* Шапка */

.logo-img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.header-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.header-hidden {
    transform: translateY(-100%);
}

.header-scrolled-up {
    background-color: #151c28 !important;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}



.header-container {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

.logo {
    width: 128px;
    height: 97px;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}


/* Ховеры и анимации для стрелок */

.down-arrow {
    transition: transform 0.3s ease;
}

.menu-plumbing-arrow {
    transition: transform 0.3s ease;
}

li.active .down-arrow {
    transform: rotate(180deg);
    color: #AE9877;
}

li.active .menu-plumbing-arrow {
    transform: rotate(180deg);
    color: #AE9877;
}

.open-catalog:hover + .down-arrow {
    color: #D4B28C;
}

.menu-toggle-plumbing:hover + .menu-plumbing-arrow {
    color: #D4B28C;
}

.menu-item.active .menu-plumbing-arrow  {
    transform: rotate(180deg);
    color: #AE9877;
}

.menu-item.active .menu-toggle-plumbing {
    color: #AE9877;
}


/* Всплывающее меню при нажатии на Каталог */

.menu-toggle-furniture,
.menu-toggle-plumbing {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 26px;
    margin-top: 20px;
    color: #EDE4D7;
    transition: color 0.3s ease;
}
  
.menu-arrow {
    transition: stroke 0.3s ease;
}

.menu-toggle-furniture:hover,
.menu-toggle-plumbing:hover {
    color: #AE9877;
}

.menu-navigation-relative {
    position: relative;
}

.menu-navigation {
    margin-top: 170px;
    position: fixed;
    width: 100%;
    display: none;
    z-index: 5;
    padding: 20px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 900;
    transition: margin-top 0.5s ease, background-color 0.5s ease;
    background-color: #151c28;
    /* min-height: 250px; */
}

/* Основной отступ */
.menu-navigation.default-margin {
    margin-top: 170px;
}

.menu-navigation-container {
    display: flex;
}

.left-menu {
    position: relative; 
    margin-right: 100px;
}
  
.left-menu::after {
    content: '';
    position: absolute;
    top: 0;
    right: -100px; 
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4); 
}

.left-menu ul li a {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
}

.submenu-furniture {
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.submenu-plumbing {
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.submenu-content {
    display: none;
}

.submenu-item {
    display: flex;
    align-items: center;
}

.submenu-item svg {
    margin-top: 4px;
}

.right-menu {
    position: relative;
    top: -9px;
    padding: 26px;  
}

.right-menu-content {
    margin-top: 30px;
    display: none;
    flex-direction: column;
    gap: 5px;
}

.right-menu-content a {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
}


.all-categories-link {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.all-categories-link a {
    font-size: 20px;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 900;
}

.all-categories-link svg {
    margin-top: 4px;
}


.catalog-nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.catalog-nav a {
    transition: color 0.3s ease;
}

.catalog-nav a:hover {
    color: #AE9877;
}

.main-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.main-nav a {
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color: #AE9877;
}

.search-container {
    max-width: 360px;
    width: 100%;
    position: relative;
    z-index: 5;
}






.search-items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute; 
    top: 100%; 
    left: 0; 
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}

.search-items.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s 0s;
}

.search-item {
    display: flex;
    align-items: flex-start;
    text-align: left;
    gap: 13px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.search-items.show .search-item {
    opacity: 1;
    transform: translateY(0);
}

/* Для мгновенного исчезновения */
.search-items:not(.show) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s, visibility 0s;
}

.search-items:not(.show) .search-item {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0s, transform 0s;
}



.zoom-image {
    display: inline-block;
  }

.zoom-image img {
    transition: transform 0.3s ease;
}

.zoom-image:hover img {
    transform: scale(1.1);
}

.search-item-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-item-info a{
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
}

.all-result-link {
    margin-top: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
}

.all-result-link h4 {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
}

.search-item img {
    width: 60px;
    height: 67px;
}

.search-bar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    padding: 5px 0;
    gap: 8px;
}

.search-bar input {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
}

.search-icon-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 5px;
    padding: 0;
}

.contact-header {
    margin-top: 10px;
    display: flex;
    gap: 40px;
}

.contact-header a {
    transition: color 0.3s ease;
}

.contact-header a:hover {
    color: #AE9877;
}

.contact-button {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 900;
    margin-top: -15px;    
    position: relative;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    padding: 14px 20px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    color: #EDE4D7; 
    transition: all 0.3s ease;
    gap: 10px; 
    font-size: 18px;
}

.contact-button:hover {
    background-color: #AE9877;
    color: #fff;
}


/* Адаптив Шапки */


/* Отступ при активном поиске */
.menu-navigation.search-active {
    margin-top: 420px; 
}




@media (max-width: 1200px) {
    .nav-container {
        flex-direction: column;
        gap: 20px;
    }

    .catalog-nav {
        margin-right: 30px;
    }

    .search-container {
        max-width: 250px;
    }

    .menu-navigation.default-margin {
        margin-top: 210px;
    }

    /* Отступ при активном поиске */
    .menu-navigation.search-active {
        margin-top: 480px; 
    }
}

@media (max-width: 1024px) {
    .menu-navigation.default-margin {
        margin-top: 200px;
    }

    /* Отступ при активном поиске */
    .menu-navigation.search-active {
        margin-top: 450px; 
    }

    .search-container {
        max-width: 214px;
    }

    .main-nav a {
        font-size: 16px;
    }
    
    .catalog-nav ul li a {
        font-size: 16px;
    }

    .logo {
        margin-right: 100px;
    }

    .contact-header a {
        font-size: 16px;
    }

    .main-nav ul {
        gap: 5px;
    }
    
}

/* header */

.page-wrapper {
    position: relative; 
}

.under-header {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 20px;
    transition: filter 0.2s ease, backdrop-filter 0.2s ease;
}

.under-header-container {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.under-header-container a:first-child {
    color: #7B8292;
}



/* Секция "Вакансий " */

.vacancies-container {
    margin-top: 60px;
    padding-left: 24.5vw;
    position: relative;
} 

.title {
    font-family: 'Future New Light', sans-serif;
    font-size: 142px;
    font-weight: 600;
    text-transform: uppercase;
}

.subtitle {
    margin-top: 30px;
    font-size: 26px;
}


/* Секция "Оставьте ваше резюме" */

.get-contact {
    margin-top: 50px;
    padding: 80px 0 0px 20px;
    background-color: #151c28;
    font-family: 'SF Pro Display Thin', sans-serif; 
    background-image: url("../images/vacancies/no-vacancies/background.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center right; 
}

.get-contact-container {
    display: flex;
    justify-content: space-between;
    min-height: 524px;
    height: 100%;
}

.main-side-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    margin-left: 45vh;
    width: 750px;
}

.main-side-wrapper h1 {
    font-family: 'Future New Light', sans-serif;
    text-transform: uppercase;
    font-size: 93px;
    
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto; /* Автоматическая расстановка переносов */
    
    /* Для лучшей поддержки в разных браузерах: */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.main-side-text {
    max-width: 430px;
    width: 100%;
    font-size: 22px;
}

.opacity {
    opacity: 0;
}


/* Форма */

.vacancies-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    padding: 5px 0;
    gap: 8px;
    width: 100%;
}

.contact-input input {
    width: 100%; 
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 18px;
    padding: 5px 0; 
}

.contact-input input::placeholder {
    color: #555D6F;
}



.error-contact {
    font-family: 'SF Pro Display Thin', sans-serif; 
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: #EB5151;
    font-size: 14px;
    display: none;
    margin-top: 5px;
    padding-left: 5px;
}

.accept-politics {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.accept-politics p {
    font-size: 14px;
}

.accept-politics p span {
    color: #AE9877;
    border-bottom: 1px solid #AE9877;
}

.get-request-button {
    margin-top: 10px;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-size: 18px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
    text-align: center;
    padding: 20px 20px;
    background-color: #AE9877;
    cursor: pointer;
    border: none;
    color: #fff;
    transition: all 0.3s ease;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.get-request-button:hover {
    background-color: #9c8766; 
    transform: scale(1.03);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.get-request-button .contact-icon {
    transition: transform 0.3s ease;
}

.get-request-button:hover .contact-icon {
    transform: translateX(5px);
}

.custom-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-img {
    width: 25px;
    height: 25px;
    background-image: url('../images/svg/checkbox.svg');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease; 
}

.custom-checkbox input:checked + .checkbox-img {
    background-image: url('../images/svg/check-mark.svg');
}


.resume-upload {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    color: #AE9877;
    font-family: 'SF Pro Display Thin', sans-serif;
}

.resume-label {
    display: inline-flex;
    align-items: center;
    gap: 10px; 
    color: #EDE4D7;
    font-size: 20px;
    cursor: pointer;
    font-family: 'SF Pro Display Thin', sans-serif;
    transition: color 0.3s ease;
    padding: 5px 0;
}

.resume-label:hover {
    color: #9c8766;
}

.resume-label svg {
    flex-shrink: 0; /* чтобы SVG не сжимался */
    vertical-align: middle;
}

.file-name {
    color: #D4B28C;
}


/* Адаптив "Оставьте ваше резюме"*/

@media (max-width: 1885px) {
    .main-side-wrapper {
        margin-left: 42vh;
    }
}


@media (max-width: 1786px) {
    .main-side-wrapper {
        margin-left: 40vh;
    }
}

@media (max-width: 1703px) {
    .main-side-wrapper {
        margin-left: 38vh;
    }
}

@media (max-width: 1634px) {
    .main-side-wrapper {
        margin-left: 36vh;
    }
}

@media (max-width: 1561px) {
    .main-side-wrapper {
        margin-left: 34vh;
    }
}

@media (max-width: 1470px) {
    .main-side-wrapper {
        margin-left: 32vh;
    }

    .get-contact {
        background-position: center -400px;
    }
}

@media (max-width: 1374px) {
    .main-side-wrapper {
        margin-left: 30vh;
    }
}

@media (max-width: 1347px) {
    .get-contact {
        background-position: center -350px;
    }
}

@media (max-width: 1217px) {
    .main-side-wrapper {
        margin-left: 28vh;
    }
}

@media (max-width: 1200px) {
    .get-contact {
        background-position: center -300px;
    }
}

@media (max-width: 1120px) {
    .main-side-wrapper {
        margin-left: 26vh;
    }
}

@media (max-width: 1100px) {
    .get-contact {
        background-image: url('../images/vacancies/no-vacancies/adaptive/background-1024.png');
        background-position: center right; 
    }
}

@media (max-width: 1070px) {
    .main-side-wrapper {
        margin-left: 24vh;
        width: 700px;
    }
}

@media (max-width: 1010px) {
    .main-side-wrapper {
        margin-left: 24vh;
        width: 650px;
    }
}



/* Footer */

.footer {
    padding: 100px 20px 20px 20px;
    background-color: #151c28;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300; 
}

.footer-container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1fr 2fr auto; 
    gap: 40px;
}

.footer-logo {
    width: 178px;
    height: 135px;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-navigation h1 {
    white-space: nowrap;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 24px;
    transition: color 0.3s ease;
}

.footer-navigation h1:hover {
    color: #AE9877;
}

.footer-navigation ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
}

.footer-navigation ul li a {
    transition: color 0.3s ease;
}

.footer-navigation ul li a:hover {
    color: #AE9877;
}

.footer-address p {
    margin-bottom: 5px;
    color: rgba(237, 228, 215, 0.7);
}

.footer-address h1 {
    font-size: 38px;
    margin-bottom: 40px;
    font-family: 'SF Pro Display Thin', sans-serif; 
    font-weight: 600;
}

.footer-icons {
    display: flex;
    gap: 10px;
}

.footer-icon {
    height: 36px;
    width: 36px;
}

.footer-copyright {
    display: grid;
    grid-template-columns: 0.81fr 1.5fr 1fr auto;
    gap: 10px;
    padding: 20px 0;
}

.footer-copyright a {
    transition: color 0.3s ease;
}

.footer-copyright a:hover {
    color: #AE9877;
}



.footer-1024 {
    display: none;
    padding: 100px 20px 20px 20px;
    background-color: #151c28;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300; 
}

.footer-container-1024 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-top: 20px;
}

.footer-copyright-1024 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-top: 20px;
}

.last-column {
    justify-self: end;
}

.footer-copyright-1024 a {
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-copyright-1024 a:hover {
    color: #AE9877;
}

.footer-grid-down {
    margin-top: 60px;
    margin-bottom: 36px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-top: 20px;
}

.footer-nav-down h1 {
    text-transform: uppercase;
    font-size: 24px;
}

.footer-nav-down p {
    font-size: 16px;
    color: rgba(237, 228, 215, 0.7);
    margin-bottom: 5px;
}


/* Адаптив */

@media (max-width: 1335px) {
    .footer {
        display: none;
    }

    .footer-1024 {
        display: block;
    }
}


/* Модальное окно "Связаться с нами" */

.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;  
    transform: scale(0.9); 
    transition: opacity 0.5s ease, transform 0.5s ease;  /* Плавная анимация */
}

.modal.open {
    display: flex;
    opacity: 1;  
    transform: scale(1);  
}

.modal-content {
    width: 725px;
    height: 849px;
    background-color: #151C28;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    min-width: 300px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.modal-content-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;

    position: relative;
}


.modal-content-info-inner button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}


.modal-content-info img {
    margin-bottom: 30px;
    width: 171px;
    height: 171px;
}

.phone-number {
    font-size: 20px;
    margin-bottom: 20px;
}

.modal-content-info h1 {
    font-family: 'Future New Light', sans-serif;
    font-size: 76px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.modal-description {
    font-size: 20px;
}

.contact-form-modal {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.contact-input-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    padding: 10px 0;
    gap: 8px;
    width: 100%;
}

.contact-input-modal input {
    width: 100%; 
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 18px;
    padding: 5px 0; 
}


.accept-politics-modal {
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.accept-politics-modal p {
    font-size: 14px;
}

.accept-politics-modal p span {
    color: #AE9877;
    border-bottom: 1px solid #AE9877;
}

.get-request-button-modal {
    margin-top: 10px;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-size: 18px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
    text-align: center;
    padding: 20px 20px;
    background-color: #AE9877;
    cursor: pointer;
    border: none;
    color: #fff;
    transition: all 0.3s ease;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.get-request-button-modal:hover {
    background-color: #9c8766; 
    transform: scale(1.03);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.get-request-button .contact-icon {
    transition: transform 0.3s ease;
}

.get-request-button:hover .contact-icon {
    transform: translateX(5px);
}


.custom-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-img {
    width: 25px;
    height: 25px;
    background-image: url('../images/svg/checkbox.svg');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease; 
}

.custom-checkbox input:checked + .checkbox-img {
    background-image: url('../images/svg/check-mark.svg');
}



/* Модальное окно "Спасибо за заявку" */

.modal-thanks {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;  
    transform: scale(0.9); 
    transition: opacity 0.5s ease, transform 0.5s ease;  
}

.modal-thanks.open {
    display: flex;
    opacity: 1;  
    transform: scale(1);  
}

.modal-content-thanks {
    width: 618px;
    height: 377px;
    background-color: #151C28;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    min-width: 300px;
    position: relative;
}

.modal-content-info-thanks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;

    position: relative;
}

.modal-content-info-thanks h1 {
    font-family: 'Future New Light', sans-serif;
    font-size: 76px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.modal-content-info-inner-thanks button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
}

.modal-content-info-inner-thanks svg {
    margin-bottom: 25px;
}

.modal-description-info {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
}


/* Модальное окно "Произошла ошибка" */

.modal-error {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;  
    transform: scale(0.9); 
    transition: opacity 0.5s ease, transform 0.5s ease;  
}

.modal-error.open {
    display: flex;
    opacity: 1;  
    transform: scale(1);  
}

.modal-content-error {
    width: 618px;
    height: 377px;
    background-color: #151C28;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    min-width: 300px;
    position: relative;
}