@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SF-Pro-Display-Light.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Ultralight';
    src: url('../fonts/SF-Pro-Display-Ultralight.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Future New Light';
    src: url('../fonts/FuturaNewLight.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Future New Bold';
    src: url('../fonts/FuturaNewLight.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Thin';
    src: url('../fonts/SF-Pro-Display-Thin.otf');
    font-weight: 400;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #AE9877;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #EDE4D7;
    background-color: #151c28;
    min-width: 320px;
}

html.no-scroll,
body.no-scroll {
  overflow: hidden !important;
  touch-action: none;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    width: 100%;  
}


/*
Для того чтобы когда в input вводятся только цифры, 
браузер не отображал некрасивый ползунок увелечения числа
*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.line {
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.line-height {
    line-height: 95%;
}

/* Стили для автозаполнения */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important; 
    box-shadow: 0 0 0 1000px #171F2E inset !important;
    -webkit-text-fill-color: #EDE4D7 !important; 
    transition: background-color 5000s ease-in-out 0s; 
}






/* Шапка */


.about-company-nav {
    display: none;
}

.about-company-nav.active {
    display: block;
}

.main-nav.hidden {
    display: none;
}


.menu-toggle-plumbing.open,
.menu-toggle-furniture.open {
    color: #AE9877;
}

.header-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.header-hidden {
    transform: translateY(-100%);
}

.header-scrolled-up {
    background-color: #151c28 !important;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}



.header-container {
    padding-top: 5px;
    display: flex;
}

.logo {
    width: 110px;
    height: 83px;
}

.header-right {
    margin-left: 13%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
    width: 100%;    
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.nav-scrolled {
    margin-top: 10px;
}

.about-submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    padding-left: 0;
}

.about-toggle {
    display: flex;
    flex-direction: column;
}






.about-toggle.open .about-submenu {
    max-height: 500px; /* максимальное значение, чтобы влез весь список */
    opacity: 1;
}

.about-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    position: relative;
    z-index: 1000;
    pointer-events: auto;
}

.down-arrow {
    transition: transform 0.3s ease;
}

.about-toggle.open .down-arrow {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.about-toggle.open .down-arrow {
    transform: rotate(180deg);
}

.about-toggle.open .about-header > a,
.about-toggle.open .about-header .down-arrow {
    color: #AE9877;
    stroke: #AE9877; 
}

.about-toggle.open .open-catalog {
    color: #D4B28C;
}

/* Ховеры и анимации для стрелок */

.down-arrow {
    transition: transform 0.3s ease;
}

li.active .down-arrow {
    transform: rotate(180deg);
    color: #AE9877;
}

li.active .menu-arrow {
    transform: rotate(180deg);
    color: #AE9877;
}

.open-catalog {
    border: none;
    background-color: transparent;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #EDE4D7;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.open-catalog:hover {
    color: #D4B28C;
}

.open-catalog:hover + .down-arrow {
    color: #D4B28C;
}

.menu-arrow {
    transition: transform 0.3s ease;
}

.menu-toggle:hover + .menu-arrow {
    color: #D4B28C;
}

.menu-item.active .menu-arrow {
    transform: rotate(180deg);
    color: #AE9877;
}

.menu-item.active .menu-toggle {
    color: #AE9877;
}

.menu-item button {
    border: none;
    background-color: transparent;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
    cursor: pointer;
    color: #EDE4D7;
    transition: color 0.3s ease;
}

.menu-item button:hover {
    color: #AE9877;
}



/* Всплывающее меню при нажатии на Каталог */

.menu-toggle,
.menu-toggle {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 26px;
    margin-top: 20px;
    color: #EDE4D7;
    transition: color 0.3s ease;
}

.menu-toggle:hover,
.menu-toggle:hover {
    color: #AE9877;
}

.menu-toggle {
  cursor: pointer;
  transition: color 0.3s ease;
  color: #EDE4D7; /* базовый цвет */
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 26px;
}

.menu-toggle svg path {
  transition: stroke 0.3s ease, transform 0.3s ease;
  stroke: currentColor; /* цвет стрелки наследуется от текста */
}

/* При наведении меняем цвет текста и стрелки */
.menu-toggle:hover,
.menu-toggle:focus {
  color: #AE9877;
}

/* Стрелка меняет цвет при наведении */
.menu-toggle:hover svg path,
.menu-toggle:focus svg path {
  stroke: #AE9877;
}

/* Когда меню открыто — добавим класс active кнопке, для поворота и цвета */
.menu-toggle.active {
  color: #AE9877;
}

.menu-toggle.active svg {
  transform: rotate(180deg);
}

.menu-toggle.active svg path {
  stroke: #AE9877;
}

.menu-navigation-relative {
    position: relative;
}

.menu-navigation {
    margin-top: 170px;
    position: fixed;
    max-width: 1920px;
    width: 100%;
    display: none;
    z-index: 5;
    padding: 20px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 900;
    background-color: #151c28;
}

/* Основной отступ */
.menu-navigation.default-margin {
    margin-top: 170px;
}

/* Когда скролим вверх */
.menu-navigation.scrolled-margin {
    margin-top: 130px !important;
}

/* Когда меню "О компании" открыто */
.menu-navigation.scrolled-margin.about-open {
    margin-top: 200px !important;
}

/* Отступ при активном поиске */
.menu-navigation.search-active {
    margin-top: 420px; 
}

/* Отступ при активном поиске снизу страницы*/
.menu-navigation.search-active-down {
    margin-top: 500px; 
}

.menu-container {
    display: flex;
}


/* Открывает подменю при наведении (только для ПК) */
@media (hover: hover) and (pointer: fine) {
  .menu-item:hover > .menu-toggle {
    color: #AE9877;
  }

  .menu-item:hover > .menu-toggle svg {
    transform: rotate(180deg);
  }

  .menu-item:hover > .menu-toggle svg path {
    stroke: #AE9877;
  }
}


.catalog-up-nav {
    max-height: 400px; 
    min-width: 350px;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.right-menu {
    margin-top: 10px;
    max-height: 500px; 
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.right-menu::-webkit-scrollbar {
    width: 6px;
}
  
.right-menu::-webkit-scrollbar-track {
    background-color: rgba(237, 228, 215, 0.4);
}
  
.right-menu::-webkit-scrollbar-thumb {
    background-color: #EDE4D7;
}

.catalog-up-nav::-webkit-scrollbar {
    width: 6px;
}
  
.catalog-up-nav::-webkit-scrollbar-track {
    background-color: rgba(237, 228, 215, 0.4);
}
  
.catalog-up-nav::-webkit-scrollbar-thumb {
    background-color: #EDE4D7;
}

.left-menu {
    position: relative; 
    margin-right: 20px;
}
  
.left-menu::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0px; 
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4); 
}

.left-menu ul li a {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
}

.submenu {
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.submenu.open {
    display: flex;
}

.submenu-item {
    display: flex;
    align-items: center;
}

.submenu-item svg {
    margin-top: 4px;
}

.submenu-item.active > a.menu-button {
  color: #AE9877;
}

.submenu-item.active svg path {
  stroke: #AE9877;
}

.right-menu {
    position: relative;
    top: -9px;
    padding: 26px;  
}

.right-menu-content {
    display: none;
    flex-direction: column;
    gap: 5px;
}


.right-menu-content a {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
}


.all-categories-link {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: color 0.3s ease;
}

.all-categories-link a {
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 20px;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 900;
    transition: color 0.3s ease; 
}

.all-categories-link svg {
    margin-top: 4px;
    transition: stroke 0.3s ease, transform 0.3s ease; 
}

.all-categories-link:hover a {
    color: #AE9877; 
}

.all-categories-link:hover svg path {
    stroke: #AE9877; 
}

.catalog-nav ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.catalog-nav a {
    transition: color 0.3s ease;
}

.catalog-nav a:hover {
    color: #AE9877;
}

.main-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.main-nav a {
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color: #AE9877;
}

.search-container {
    max-width: 360px;
    width: 100%;
    position: relative;
    z-index: 5;
}

.search-items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute; 
    top: 100%; 
    left: 0; 
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}

.search-items.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s 0s;
}

.header-search-padding {
    padding-bottom: 280px;
    background-color: #151c28;
}

.header-search-padding-down {
    padding-bottom: 340px;
    background-color: #151c28;
}

.search-item {
    display: flex;
    align-items: flex-start;
    text-align: left;
    gap: 13px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.search-icon {
    width: 24px;
    height: 24px;
    display: block;
}

.search-items.show .search-item {
    opacity: 1;
    transform: translateY(0);
}

/* Для мгновенного исчезновения */
.search-items:not(.show) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s, visibility 0s;
}

.search-items:not(.show) .search-item {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0s, transform 0s;
}

.zoom-image {
    display: inline-block;
}

.zoom-image img {
    transition: transform 0.3s ease;
}

.zoom-image:hover img {
    transform: scale(1.1);
}

.search-item-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-item-info a{
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
}

.all-result-link {
    margin-top: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
}

.all-result-link:hover a {
    color: #AE9877;
}

.all-result-link:hover svg path {
    stroke: #AE9877;
}

.all-result-link svg {
    vertical-align: middle;
}

.all-result-link h4 {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
    padding: 0;
}

.all-result-link-search {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.search-item img {
    width: 60px;
    height: 67px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    padding: 5px 0;
    gap: 8px;
}

.search-bar input {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    max-width: 300px;
    width: 100%;
}

.search-icon-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 5px;
    padding: 0;
}

.contact-header {
    margin-top: 10px;
    display: flex;
    gap: 40px;
}

.contact-header a {
    transition: color 0.3s ease;
}

.contact-header a:hover {
    color: #AE9877;
}

.contact-button {
    white-space: nowrap;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 900;
    margin-top: -15px;    
    position: relative;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    padding: 14px 20px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    color: #EDE4D7; 
    transition: all 0.3s ease;
    gap: 10px; 
    font-size: 18px;
}

.contact-button:hover {
    background-color: #AE9877;
    color: #fff;
}



/* Адаптив Шапки */


.burger-menu {
    display: none;
}

.burger-menu button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.burger-icon {
    width: 50px;
    height: 43px;
}

@media (max-width: 1560px) {
    .header-right {
        margin-left: 5%;
    }
}

@media (max-width: 1300px) {
    .nav-container {
        flex-direction: column;
        gap: 20px;
    }

    .menu-navigation.default-margin {
        margin-top: 210px;
    }

    .menu-navigation.search-active {
        margin-top: 460px; 
    }

    .catalog-nav {
        margin-right: 25px;
    }
}

@media (max-width: 1160px) {
    .search-container {
        max-width: 300px;
    }
}

@media (max-width: 1090px) {
    .search-container {
        max-width: 214px;
    }
}

@media (max-width: 1030px) {

    .menu-navigation.default-margin {
        margin-top: 200px;
    }

    .menu-navigation.search-active {
        margin-top: 460px; 
    }

    .main-nav a {
        font-size: 16px;
    }
    
    .catalog-nav ul li a {
        font-size: 16px;
    }

    .logo {
        margin-right: 50px;
    }

    .contact-header a {
        font-size: 16px;
    }

    .main-nav ul {
        gap: 5px;
    }
}

@media (max-width: 1010px) {
    .contact-header button {
        display: none;
    }

    .burger-menu {
        display: block;
    }
}

@media (max-width: 840px) {
    .contact-header a {
        display: none;
    }

    .logo {
        margin-right: 10px;
    }
}

@media (max-width: 730px) {
    .nav-container {
        display: none;
    }

    .menu-navigation-relative {
        display: none;
    }

    .search-container {
        margin-left: 10%;
    }

    .header-search-padding {
        padding-bottom: 340px;
    }


}

@media (max-width: 630px) {
    .search-container {
        margin-left: 7%;
    }
}

@media (max-width: 550px) {
    .search-container {
        margin-left: 0%;
    }
}

@media (max-width: 505px) {
    .search-container {
        display: none;
    }

    .header-search-padding,
    .header-search-padding-down {
        padding-bottom: 20px;
        background-color: transparent;
    }

    .header-top {
        padding: 15px;
    }
}

@media (max-width: 400px) {
    .logo {
        width: 82px;
        height: 82px;
    }
}


/* Бургер меню */

.main-page-content, .burger-menu-open {
    transition: all 0.3s ease;
}

.main-page-content.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
}

.burger-under-search-hide {
    max-height: 2000px; /* достаточно большое значение */
    opacity: 1;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.burger-under-search-hide.hidden {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
}

.burger-under-search {
    max-height: 2000px;
    overflow-y: scroll; 
    
    /* Скрытие скролла */
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.burger-under-search::-webkit-scrollbar {
    display: none; 
}

.burger-menu-open {
    display: block; 
    position: fixed;
    top: 0;
    left: 0; 
    width: 100vw;
    height: 100vh;
    padding: 15px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #EDE4D7;
    z-index: 9999;
    overflow-y: auto;

    /* Начальное состояние — сдвинуто вверх за экран */
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;

    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.burger-menu-open.open {
    /* При открытии сдвигаем в нормальное положение */
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.burger-menu-open svg {
    vertical-align: middle;
}

.burger-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-burger-svg {
    cursor: pointer;
    width: 36px;
    height: 31px;
    color: #EDE4D7;  
    transition: color 0.3s ease;
}

.close-burger-svg:hover {
    color: #AE9877; 
}

.search-input {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 0px;
}

.search-input input {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: rgba(237, 228, 215, 0.4);
    outline: none;
}

.search-input input:focus,
.search-input input:not(:placeholder-shown) {
    color: #EDE4D7; 
}

/* Карточки поиска в бургере */

#searchItemsBurger {
  opacity: 1;
  max-height: 1000px; /* достаточно большое */
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

#searchItemsBurger.hidden {
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.burger-search-item {
    display: flex;
    gap: 13px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
}

.burger-search-item-left img {
    max-width: 60px;
    max-height: 67px;
    height: 100%;
    width: 100%;
}

.burger-search-item-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.burger-all-items-button {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.burger-all-items-button a svg {
    vertical-align: middle;
}

/* Корзина */

.burger-cart-link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 0;
}

.burger-cart-link a {
    text-transform: uppercase;
}

/* Каталог */

.burger-catalog {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 0;
}

.burger-catalog button {
    border: none;
    background-color: transparent;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #EDE4D7;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0;
}

.burger-catalog svg {
    vertical-align: middle;
}   

.burger-catalog nav ul {
    margin-left: 20px;
    margin-top: 5px;
}

.burger-catalog nav ul li {
    margin-bottom: 10px;
}

.burger-nav-title {
    font-size: 20px;
}

.burger-catalog nav ul li {
    font-size: 16px;
}

.burger-catalog nav {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.burger-catalog nav.open {
  max-height: 1000px;
}

.burger-catalog > .has-submenu svg {
  transition: transform 0.4s ease;
  transform-origin: center;
}

.burger-catalog > .has-submenu svg.rotated {
  transform: rotate(180deg);
}


/* Только для бургер‑меню */
.burger-catalog nav ul ul {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.burger-catalog nav ul ul.open {
  max-height: 1000px; 
  opacity: 1;
}

.burger-nav-title,
.burger-catalog nav > ul > li > span,
.burger-catalog nav ul li > span {
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.burger-catalog svg,
nav ul svg {
  transition: transform 0.4s ease;
  transform-origin: center;
}

.burger-catalog ul ul.open + svg,
nav ul ul.open + svg {
  transform: rotate(180deg);
}

.burger-nav-title svg.rotated {
  transform: rotate(180deg);
}

.additional-switching svg.rotated {
    transform: rotate(90deg);
}

.burger-catalog > .has-submenu.active,
.burger-catalog nav .has-submenu.active {
  color: #AE9877;
}

.burger-catalog > .has-submenu.active svg path,
.burger-catalog nav .has-submenu.active svg path {
  stroke: #AE9877;
}

/* Ссылки */

.burger-other-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 0;
}

.burger-other-links a {
    text-transform: uppercase;
}

/* Кнопка связаться с нами в бургере */

.burger-get-request-btn {
    margin-top: 20px;
    border: 1px solid #EDE4D7;
}

.burger-get-request-btn button {
    display: flex;         
    justify-content: space-between;  
    align-items: center; 
    width: 100%;
    padding: 20px;
    border: none;
    background-color: transparent;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #EDE4D7;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.burger-get-request-btn button:hover {
    background-color: #AE9877;
}



/* Анимации на странице */

/* Появление заголовка через анимацию через маску вверх */

.reveal-mask {
    position: relative;
}

.reveal-mask h1,
.reveal-mask h2 {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.8s ease;
}

.reveal-mask.active h1,
.reveal-mask.active h2 {
    transform: translateY(0);
    opacity: 1;
}

/* Появление пунктов блока через фейд */

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}





/* Секция 'Под шапкой' */

.page-wrapper {
    position: relative; 
}

.under-header {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 20px;
    transition: filter 0.2s ease, backdrop-filter 0.2s ease;
}

.under-header-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.under-header-container > a:not(:last-child) {
    color: #7B8292;
}

/* Адаптив секции под шапкой */

@media (max-width: 730px) {
    .under-header {
        top: 130px;
    }
}

@media (max-width: 400px) {
    .under-header {
        top: 90px;
    }
}






/* Секция "Оформить заказ" */

.buy-products {
    padding: 400px 20px 90px 20px;
    background-color: #151c28;

    position: relative;
}

.buy-products-section {
    padding-left: 25%;
}

.title-items {
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: 'Future New Light', sans-serif;
    text-transform: uppercase;
    font-size: 112px;
    margin-bottom: 60px;
}

.buy-products-content {
    display: flex;
    gap: 115px;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 645px;
}

.buyer {
    font-family: 'Future New Bold', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 34px;
}



.order-input {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    padding: 5px 0;
    gap: 8px;
    width: 105%;
    margin-bottom: 30px;
}

.order-input input {
    width: 100%; 
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 18px;
    padding: 5px 0; 
}

.order-input input::placeholder {
    color: #555D6F;
}


.order-input textarea {
    width: 100%;
    height: 311px;
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 18px;
    padding: 5px 0;
    font-family: 'SF Pro Display', sans-serif;
    resize: none;
}

.order-input textarea::placeholder {
    color: #555D6F;
}


.accept-politics-order {
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.accept-politics-order p {
    font-size: 14px;
}

.accept-politics-order p span {
    color: #AE9877;
    border-bottom: 1px solid #AE9877;
}




/* Как удобнее связаться */

.contact-method-selector {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    padding: 5px 0;
    gap: 8px;
    width: 105%;
    transition: all 0.3s ease;
}

.contact-method-selector:hover {
    background-color: rgba(255, 255, 255, 0.02);
}

.contact-method-selector input {
    width: 100%; 
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 18px;
    padding: 5px 0; 
}

.contact-input-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: transparent;
    padding: 5px 0;
    gap: 8px;
    width: 105%;
}

.contact-input-menu input {
    width: 100%; 
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 18px;
    padding: 5px 0; 
}


.contact-input-fields {
    width: 100%;
    padding-right: 40px;
    box-sizing: border-box; 

}

.contact-input-fields input {
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.contact-input-fields input::placeholder {
    color: #555D6F;
}

.contact-input-fields svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}

.contact-input-fields-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 8px 0;
  width: 100%;
}

.checkmark {
  color: #EDE4D7;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.contact-input-fields-menu.selected .checkmark {
  opacity: 1;
}

.contact-input-fields-menu input {
    width: 100%;
    padding-right: 40px; 
    cursor: pointer;
    box-sizing: border-box;
}

.contact-input-fields-menu svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}

.menu-contact-method {
    margin-top: 10px;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.dropdown-arrow {
    transition: transform 0.3s ease;
}

.dropdown-arrow.rotated {
    transform: translateY(-50%) rotate(180deg);
}


.input-field::placeholder {
    color: #fff;
}


.contact-input {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    padding: 5px 0;
    gap: 8px;
    width: 100%;
    transition: all 0.3s ease;
}

.contact-input-fields-menu span {
    font-size: 18px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 600;
}

.contact-input:hover {
    background-color: rgba(255, 255, 255, 0.02);
}

.contact-input input {
    width: 100%; 
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 18px;
    padding: 5px 0; 
}

.get-order-button {
    margin-top: 10px;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-size: 18px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    text-align: center;
    padding: 20px 20px;
    background-color: #AE9877;
    cursor: pointer;
    border: none;
    color: #fff;
    transition: all 0.3s ease;
    width: 105%;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.get-order-button:hover {
    background-color: #9c8766; 
    transform: scale(1.03);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.get-order-button .contact-icon {
    transition: transform 0.3s ease;
}

.get-order-button:hover .contact-icon {
    transform: translateX(5px);
}




.right-side {
    display: flex;
    flex-direction: column;
    max-width: 645px;
    width: 100%;
}

.right-side-items {
    font-family: 'Future New Bold', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 34px;
    margin-bottom: 20px;
}

/* Для прокрутки товаров оформления заказа */

.right-side-scroll-wrapper {
    padding: 5px 0;
    max-height: 570px;
    overflow-y: auto;
    padding-right: 10px;
    scroll-behavior: smooth;
}
  
.right-side-scroll-wrapper::-webkit-scrollbar {
    width: 6px;
}
  
.right-side-scroll-wrapper::-webkit-scrollbar-track {
    background-color: rgba(237, 228, 215, 0.4);
}
  
.right-side-scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: #EDE4D7;
}



.line-buy {
    border: none;
    height: 1px;   
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0; 
}

.order-products {
    margin: 20px 0;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 0;
}

.order-left img {
    width: 211px;
    height: 211px;
}

.order-right {
    padding: 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-right-top {
    display: flex;
    justify-content: space-between;
}

.order-right-top-right button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.order-right-top-right button:hover svg path {
    stroke: #AE9877; 
    stroke-opacity: 1; 
}

.product-name {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 900;
    font-size: 26px;
}

.product-desc {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
}

.product-desc-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-desc-left p {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    color: rgba(237, 228, 215, 0.7);
}

.product-desc-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 120px;
    gap: 10px;
}

.product-desc-right p {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
}

.price-per-piece {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 900;
    color: #615F5B;
    font-size: 16px;
    transform: translateY(20px);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}


.price-per-piece.visible {
    opacity: 1;
    max-height: 50px; 
}

.price-per-piece-2 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 900;
    color: #615F5B;
    font-size: 16px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.price-per-piece-2.visible {
    opacity: 1; 
    max-height: 50px;
}

.product-last-line {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
}

.change-count {
    display: flex;
    align-items: center;
    gap: 10px;
}

.change-count button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 5px;
    padding: 0;
    margin: 0;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.discount {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 900;
    font-size: 21px;
    color: #615F5B;
    text-decoration: line-through;
}

.total-price {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 900;
    font-size: 28px;
}

.total-order-price-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-order-price-container h3 {
    font-size: 24px;
    text-transform: uppercase;
}

.total-order-price {
    text-transform: uppercase;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 900;
    font-size: 34px;
}

.custom-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-img {
    width: 25px;
    height: 25px;
    background-image: url('../images/svg/checkbox.svg');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease; 
}

.custom-checkbox input:checked + .checkbox-img {
    background-image: url('../images/svg/check-mark.svg');
}


/* Адаптив */

.buy-products-content-1024 {
    display: none;
    flex-direction: column;
    gap: 115px;
}

.buy-products-content-600 {
    display: none;
}

.down-side-1024 {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.up-side-1024 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 1700px) {
    .buy-products-content {
        display: none;
    }

    .buy-products-content-1024 {
        display: flex;
    }
}

@media (max-width: 1060px) {
    .title {
        font-size: 98px;
    }

    .right-side-items {
        font-size: 26px;
    }

    .product-name {
        font-size: 22px;
    }

    .product-desc-left p,
    .product-desc-right p {
        font-size: 14px;
    }
}

@media (max-width: 950px) {
    .buy-products-section {
        padding-left: 0%;
    }
}

@media (max-width: 865px) {
    .title {
        font-size: 70px;
    }
}

@media (max-width: 730px) {
    .buy-products {
        padding: 265px 20px 45px 20px;
    }
}

@media (max-width: 650px) {
    .buy-products {
        padding: 265px 15px 45px 15px;
    }
}

@media (max-width: 400px) {
    .buy-products {
        padding: 210px 15px 45px 15px;
    }

}



@media (max-width: 630px) {
    .title {
        font-size: 60px;
    }
}

@media (max-width: 470px) {
    .under-header-container p,
    .under-header-container a,
    .under-header-container > a:not(:last-child) {
        font-size: 14px;
    }
    
}

@media (max-width: 400px) {
    .title {
        font-size: 38px;
        margin-bottom: 30px;
    }
}

@media (max-width: 370px) {
    .contact-input-fields input::placeholder,
    .contact-input input::placeholder,
    .order-input input::placeholder,
    .order-input textarea::placeholder {
        font-size: 16px;
    }
}

/* Контейнер корзины на 600px */


.right-side-items-600 {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px 0;
    border-top: 1px solid rgba(237, 228, 215, 0.2);
    border-bottom: 1px solid rgba(237, 228, 215, 0.2);  
    margin-bottom: 0px;
}

/* Товары */

.order-item-img-600 img {
    width: 100%;
    height: 100%;
}

.order-items-600 {
    max-height: 0;              
    overflow: hidden;           
    transition: max-height 0.3s ease;
}

.arrow-icon {
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.right-side-items-600.open .arrow-icon {
  transform: rotate(180deg);
}

.right-side-items-600 {
  cursor: pointer;
}

.order-item-600 {
    
    border-bottom: 1px solid rgba(237, 228, 215, 0.2);
    padding: 20px 0;
}

.product-header-600 {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product-title-600 {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 900;
    font-size: 20px;
    max-width: 240px;
}

.delete-product-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.product-desc-600 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-desc-line {
    display: flex;
    justify-content: space-between;
}

.product-desc-line p:first-child {
    color: rgba(237, 228, 215, 0.7);
}

.product-desc-line p {
    font-size: 14px;
} 

.product-price-container-600 {
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price-container-600 .discount {
    font-size: 18px;
}

.total-price-600 {
    display: flex;
    justify-content: space-between;
}

.total-price-600 .change-count p {
    font-size: 18px;
}

.total-price-600 .total-price {
    font-size: 24px;
}

.order-total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(237, 228, 215, 0.2);
}

.order-total-price h1 {
    text-transform: uppercase;
    font-family: 'Future New Bold', sans-serif;
    font-size: 24px;
}

.down-600 {
    margin-top: 20px;
}

.buyer-600 {
    font-size: 24px;
}

.buyer-title-main {
    margin-bottom: 40px;
}

.buyer-title {
    margin-bottom: 15px;
}

.order-input-600 textarea {
    height: 200px;
}

@media (max-width: 600px) {
    .buy-products-content-1024 {
        display: none;
    }

    .buy-products-content-600 {
        display: block;
    }
}












/* Footer */

#brands {
  scroll-margin-top: 100px; 
  scroll-behavior: smooth;
}

.footer {
    padding: 100px 20px 20px 20px;
    background-color: #151c28;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300; 
}

.footer-container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1fr 2fr auto; 
    gap: 40px;
}

.footer-logo {
    width: 178px;
    height: 135px;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-navigation p {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 600;
    white-space: nowrap;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 24px;
    transition: color 0.3s ease;
}

.footer-navigation h1:hover {
    color: #AE9877;
}

.footer-navigation ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
}

.footer-navigation ul li a {
    transition: color 0.3s ease;
}

.footer-navigation ul li a:hover {
    color: #AE9877;
}

.footer-address {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-address p {
    margin-bottom: 5px;
    color: rgba(237, 228, 215, 0.7);
}

.footer-address a {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 600;
    font-size: 38px;
    cursor: pointer;
}



.footer-icons {
    display: flex;
    gap: 10px;
}

.footer-icon {
    height: 36px;
    width: 36px;
}

.footer-last {
    margin-top: 40px;
}

.footer-copyright {
    display: grid;
    grid-template-columns: 0.81fr 1.5fr 1fr auto;
    padding-top: 10px;

}

.footer-copyright a {
    transition: color 0.3s ease;
}

.footer-copyright a:hover {
    color: #AE9877;
}

/* Футер для 1024 разрешения */

.footer-1024 {
    display: none;
    padding: 100px 20px 20px 20px;
    background-color: #151c28;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300; 
}

.footer-container-1024 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-top: 20px;
}

.footer-copyright-1024 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-top: 20px;
}

.last-column {
    justify-self: end;
}

.footer-copyright-1024 a {
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-copyright-1024 a:hover {
    color: #AE9877;
}

.footer-grid-down {
    margin-top: 60px;
    margin-bottom: 36px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-top: 20px;
}

.footer-nav-down a {
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 600;
}

.footer-nav-down p {
    font-size: 16px;
    color: rgba(237, 228, 215, 0.7);
    margin-bottom: 5px;
}


/* Футер при разрешении меньше 1024 (870px) */

.footer-below-1024 {
    display: none;
    padding: 45px 15px 0px 15px;
    background-color: #151c28;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300; 
}

.footer-first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.footer-second-line {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

.footer-first-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-design-club-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.copyright-lines {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.copyrigth-first-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.copyrigth-second-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    
}

/* Адаптив для footer */

@media (max-width: 1335px) {
    .footer {
        display: none;
    }

    .footer-1024 {
        display: block;
    }
}

@media (max-width: 870px) {
    .footer-1024 {
        display: none;
    }

    .footer-below-1024 {
        display: block;
    }

}


@media (max-width: 460px) {
    .footer-nav-up h1 a {
        font-size: 20px;
    }

    .footer-nav-up ul li a {
        font-size: 16px;
    }

    .footer-nav-down p {
        font-size: 14px;
    }

    .footer-nav-down h1 {
        font-size: 20px;
    }

    .copyright-lines a {
        font-size: 14px;
    }

    .design-club-logo {
        white-space: nowrap;
    }
}

@media (max-width: 450px) {
    .footer-nav-down a,
    .footer-nav-up p {
        font-size: 20px;
    }
}

@media (max-width: 440px) {
    .footer-logo-below {
        width: 120px;
        height: 91px;
    }

    .footer-icons img {
        width: 32px;
        height: 32px;
    }
}






/* Модальное окно "Связаться с нами" */

.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;  
    transform: scale(0.9); 
    transition: opacity 0.5s ease, transform 0.5s ease;  
}

.modal.open {
    display: flex;
    opacity: 1;  
    transform: scale(1);  
}

.modal-content {
    max-width: 725px;
    width: 90%; 
    background-color: #151C28;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    min-width: 300px;
    position: relative;
    overflow-y: auto;
    max-height: 700px; 
    height: 100%;     
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.modal-content::-webkit-scrollbar {
    display: none;  
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.close-modal svg path {
    transition: stroke 0.3s ease;
}

.close-modal:hover svg path {
    stroke: #AE9877;
}

.modal-content-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    
}


.modal-content-info-inner button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal-content-info img {
    margin-bottom: 30px;
    width: 80px;
    height: 80px;
}

.phone-number {
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-modal-title {
    font-family: 'Future New Light', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.modal-description {
    font-size: 20px;
}

.contact-form-modal {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.contact-input-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    padding: 10px 0;
    gap: 8px;
    width: 100%;
}

.contact-input-modal input {
    width: 100%; 
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 18px;
    padding: 5px 0; 
}

.conta-input-modal-choice {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.accept-politics-modal {
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.accept-politics-modal p {
    font-size: 14px;
}

.accept-politics-modal p span {
    color: #AE9877;
    border-bottom: 1px solid #AE9877;
}

.get-request-button-modal {
    margin-top: 25px;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-size: 18px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
    text-align: center;
    padding: 20px 20px;
    background-color: #AE9877;
    cursor: pointer;
    border: none;
    color: #fff;
    transition: all 0.3s ease;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.get-request-button-modal:hover {
    background-color: #9c8766; 
    transform: scale(1.03);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.get-request-button .contact-icon {
    transition: transform 0.3s ease;
}

.get-request-button:hover .contact-icon {
    transform: translateX(5px);
}


.custom-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-img {
    width: 25px;
    height: 25px;
    background-image: url('../images/svg/checkbox.svg');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease; 
}

.custom-checkbox input:checked + .checkbox-img {
    background-image: url('../images/svg/check-mark.svg');
}


/* Как удобнее связаться с нами в модалке */

.custom-select {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.custom-select .selected-option {
  color: rgba(117, 117, 117);
}

.custom-select.selected .selected-option {
  color: #ffffff;
}

.select-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'SF Pro Display Bold', sans-serif;
  font-size: 18px;
  color: rgba(117, 117, 117);
  padding: 5px 0;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.custom-select.open .arrow-icon {
  transform: rotate(180deg);
}

.select-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #151C28;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 5px;
  list-style: none;
  padding: 0;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
}

.custom-select.open .select-options {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.select-options li {
  text-transform: uppercase;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease;
}

.select-options li:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.error-contact {
    font-family: 'SF Pro Display', sans-serif; 
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: #EB5151;
    font-size: 14px;
    display: none;
    margin-top: 5px;
    padding-left: 5px;
}

/* Адаптив модального окна "Связаться с нами"*/

@media (max-width: 1040px) {
    .modal-content-info img {
        width: 80px;
        height: 80px;
    }

    .modal-description {
        font-size: 16px;
    }
}

@media (max-width: 1010px) {
    .contact-modal-title {
        font-size: 50px;
    }
}

@media (max-width: 680px) {
    .contact-modal-title {
        font-size: 40px;    
    }

    .modal-description {
        font-size: 14px;
    }

    .modal-content-info {
        padding: 10px 20px;
    }

    .contact-form-modal {
        gap: 10px;
    }

    .modal-content {
        max-height: 580px;
    }
    
    .error-contact {
        font-size: 12px;
    }

    .modal-content-info img {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .contact-input-modal input::placeholder {
        font-size: 14px;
        font-family: 'SF Pro Display', sans-serif;
        font-weight: 600;
    }

    .contact-input-modal input,
    .select-header {
        padding: 0;
    }

    .selected-option {
        font-size: 14px;
    }
}

@media (max-width: 580px) {
    .contact-form-modal {
        padding: 0 20px;
    }
}

@media (max-width: 460px) {
    .modal-content-info-inner img {
        width: 80px;
        height: 80px;
    }

    .contact-modal-title {
        font-size: 32px;
    }

    .phone-number {
        font-size: 16px;
    }

    .modal-description {
        font-size: 12px;
    }

    .error-contact {
        font-size: 10px;
    }

    .accept-politics-modal p {
        font-size: 10px;
    }

    .accept-politics-modal p span a {
        font-size: 10px;
    }
}

@media (max-width: 358px) {
    .modal-content {
        max-height: 620px;
    }
}





/* Модальное окно "Спасибо за заявку" */

.modal-thanks {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;  
    transform: scale(0.9); 
    transition: opacity 0.5s ease, transform 0.5s ease;  
}

.modal-thanks.open {
    display: flex;
    opacity: 1;  
    transform: scale(1);  
}

.modal-content-thanks {
    max-width: 618px;
    max-height: 377px;
    width: 100%;
    background-color: #151C28;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    min-width: 300px;
    position: relative;
    overflow-wrap: break-word; 
}

.modal-content-info-thanks {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    position: relative;
}

.modal-content-info-inner-thanks {
    max-width: 100%;
    width: 100%;
}

.modal-content-info-thanks h1 {
    font-family: 'Future New Light', sans-serif;
    font-size: 76px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.modal-content-info-inner-thanks button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
}

.modal-content-info-inner-thanks svg {
    margin-bottom: 25px;
}

.modal-description-info {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
}

.thanks-svg {
    width: 79px;
    height: 79px;
}


/* Адаптив модального окна "Спасибо за заявку" */

@media (max-width: 670px) {
    .modal-content-thanks {
        max-width: 95%;
    }
}


@media (max-width: 585px) {
    .modal-content-info-inner-thanks h1 {
        font-size: 50px;
    }
}

@media (max-width: 400px) {
    .modal-content-info-inner-thanks h1 {
        font-size: 38px;
    }

    .modal-description-info {
        font-size: 16px;
    }

    .thanks-svg {
        width: 56px;
        height: 56px;
    }

}


/* Модальное окно "Произошла ошибка" */

.modal-error {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;  
    transform: scale(0.9); 
    transition: opacity 0.5s ease, transform 0.5s ease;  
}

.error-svg {
    width: 79px;
    height: 79px;
}

.modal-error.open {
    display: flex;
    opacity: 1;  
    transform: scale(1);  
}

.modal-content-error {
    max-width: 618px;
    max-height: 377px;
    width: 100%;
    background-color: #151C28;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    min-width: 300px;
    position: relative;
    overflow-wrap: break-word; 
}

.modal-content-info-inner-error {
    max-width: 100%;
    width: 100%;
}


.modal-content-info-inner-error button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
}

.modal-content-info-inner-error svg {
    margin-bottom: 25px;
}


/* Адаптив модального окна "Произошла ошибка"*/


@media (max-width: 670px) {
    .modal-content-error {
        max-width: 95%;
    }
}

@media (max-width: 585px) {
    .modal-content-info-inner-error h1 {
        font-size: 50px;
    }
}

@media (max-width: 400px) {
    .modal-content-info-inner-error h1 {
        font-size: 38px;
    }

    .modal-description-info {
        font-size: 16px;
    }

    .error-svg {
        width: 56px;
        height: 56px;
    }

}


/* Адаптив отступов */

@media (max-width: 650px) {
    .header-top,
    .under-header {
        padding: 15px;
    }

    .header-search-padding {
        padding-bottom: 340px;
    }
}

@media (max-width: 505px) {
    .header-search-padding {
        padding-bottom: 15px;
    }
}