@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SF-Pro-Display-Light.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Ultralight';
    src: url('../fonts/SF-Pro-Display-Ultralight.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Future New Light';
    src: url('../fonts/FuturaNewLight.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Future New Bold';
    src: url('../fonts/FuturaNewLight.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Thin';
    src: url('../fonts/SF-Pro-Display-Thin.otf');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'SF UI Display Thin';
    src: url('../fonts/sf-ui-display-8.otf');
    font-weight: 900;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #AE9877;
}

ul {
    margin-left: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #EDE4D7;
    background-color: #151c28;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    width: 100%;  
}

/*
Для того чтобы когда в input вводятся только цифры, 
браузер не отображал некрасивый ползунок увелечения числа
*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


.line {
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
}


/* Верхрняя секция главной страницы */

.main-page-top {
    background-color: #151c28;
    min-height: 300px;
}

/* Шапка */

.header-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.header-hidden {
    transform: translateY(-100%);
}

.header-scrolled-up {
    background-color: #151c28 !important;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}



.header-container {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

.logo {
    width: 128px;
    height: 97px;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    transform: translateY(-18px);
}


/* Ховеры и анимации для стрелок */

.down-arrow {
    transition: transform 0.3s ease;
}

.menu-plumbing-arrow {
    transition: transform 0.3s ease;
}

li.active .down-arrow {
    transform: rotate(180deg);
    color: #AE9877;
}

li.active .menu-plumbing-arrow {
    transform: rotate(180deg);
    color: #AE9877;
}

.open-catalog:hover + .down-arrow {
    color: #D4B28C;
}

.menu-toggle-plumbing:hover + .menu-plumbing-arrow {
    color: #D4B28C;
}

.menu-item.active .menu-plumbing-arrow  {
    transform: rotate(180deg);
    color: #AE9877;
}

.menu-item.active .menu-toggle-plumbing {
    color: #AE9877;
}


/* Всплывающее меню при нажатии на Каталог */

.menu-toggle-furniture,
.menu-toggle-plumbing {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 26px;
    margin-top: 20px;
    color: #EDE4D7;
    transition: color 0.3s ease;
}
  
.menu-arrow {
    transition: stroke 0.3s ease;
}

.menu-toggle-furniture:hover,
.menu-toggle-plumbing:hover {
    color: #AE9877;
}

.menu-navigation-relative {
    position: relative;
}

.menu-navigation {
    margin-top: 170px;
    position: fixed;
    width: 100%;
    display: none;
    z-index: 5;
    padding: 20px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 900;
    transition: margin-top 0.5s ease, background-color 0.5s ease;
    background-color: #151c28;
    /* min-height: 250px; */
}

.menu-navigation-container {
    display: flex;
}

.left-menu {
    position: relative; 
    margin-right: 100px;
}
  
.left-menu::after {
    content: '';
    position: absolute;
    top: 0;
    right: -100px; 
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4); 
}

.left-menu ul li a {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
}

.submenu-furniture {
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.submenu-plumbing {
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.submenu-content {
    display: none;
}

.submenu-item {
    display: flex;
    align-items: center;
}

.submenu-item svg {
    margin-top: 4px;
}

.right-menu {
    position: relative;
    top: -9px;
    padding: 26px;  
}

.right-menu-content {
    margin-top: 30px;
    display: none;
    flex-direction: column;
    gap: 5px;
}

.right-menu-content a {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
}


.all-categories-link {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.all-categories-link a {
    font-size: 20px;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 900;
}

.all-categories-link svg {
    margin-top: 4px;
}


.catalog-nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.catalog-nav a {
    transition: color 0.3s ease;
}

.catalog-nav a:hover {
    color: #AE9877;
}

.main-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.main-nav a {
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color: #AE9877;
}

.search-container {
    max-width: 360px;
    width: 100%;
    position: relative;
    z-index: 5;
}

.search-items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute; 
    top: 100%; 
    left: 0; 
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}

.search-items.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s 0s;
}

.search-item {
    display: flex;
    align-items: flex-start;
    text-align: left;
    gap: 13px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.search-items.show .search-item {
    opacity: 1;
    transform: translateY(0);
}

/* Для мгновенного исчезновения */
.search-items:not(.show) {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s, visibility 0s;
}

.search-items:not(.show) .search-item {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0s, transform 0s;
}

.zoom-image {
    display: inline-block;
  }

.zoom-image img {
    transition: transform 0.3s ease;
}

.zoom-image:hover img {
    transform: scale(1.1);
}

.search-item-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-item-info a{
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
}

.all-result-link {
    margin-top: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
}

.all-result-link h4 {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
}

.search-item img {
    width: 60px;
    height: 67px;
}

.search-bar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    min-width: 360px;
    padding: 5px 0;
    gap: 8px;
}

.search-bar input {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
}

.search-icon-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 5px;
    padding: 0;
}

.contact-header {
    margin-top: 10px;
    display: flex;
    gap: 40px;
}

.contact-header a {
    transition: color 0.3s ease;
}

.contact-header a:hover {
    color: #AE9877;
}

.contact-button {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 900;
    margin-top: -15px;    
    position: relative;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    padding: 14px 20px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    color: #EDE4D7; 
    transition: all 0.3s ease;
    gap: 10px; 
    font-size: 18px;
}

.contact-button:hover {
    background-color: #AE9877;
    color: #fff;
}

.page-wrapper {
    font-family: 'SF UI Display Thin', sans-serif;
    position: relative; 
}

.under-header {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 20px;
    transition: filter 0.2s ease, backdrop-filter 0.2s ease;
}

.under-header-container {
    margin-top: 60px;
    display: flex;
    align-items: center;
    transition: margin-top 0.5s ease;
}

.links {
    position: absolute;
    top: 120px;
    display: flex;
    gap: 10px;
    text-align: center;
}

.links a:nth-child(1),
.links a:nth-child(3) {
    color: #7B8292;
}

.subtitle {
    position: absolute;
    top: 270px;
}

/* Секция "Подробности проекта" */

.project-info-section {
    padding: 150px 20px 20px 20px;
    background-color: #151c28;
    padding-left: 25%;
    font-family: 'SF UI Display Thin', sans-serif;
}

.title {
    margin-bottom: 60px;
    font-family: 'Future New Light', sans-serif;
    text-transform: uppercase;
    font-size: 110px;
}

.video-container {
    position: relative;
    display: inline-block;
}

.video-container img {
    display: block;
    max-width: 100%;
    height: auto;
}

.video-button {    
    font-family: 'SF UI Display Thin', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    font-size: 16px;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.video-button:hover {
    transform: translate(-50%, -50%) scale(1.05);
}

.project-info-content {
    display: flex;
    gap: 40px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-side p {
    color: rgba(237, 228, 215, 0.7);
    font-size: 20px;
}

.right-side h3 {
    font-size: 20px;
}

.right-side-up {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-side-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-side-content-up {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    padding-right: 20px;
}

.add-margin {
    margin-right: 20px;
}

.right-side-down button {
    border: none;
    background-color: transparent;
    color: #EDE4D7;
    text-transform: uppercase;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 18px;
    border-bottom: 1px solid #EDE4D7;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0 0 5px 0;
    margin: 0 10px 0 0;
}



/* Секция "Галерея проектов" */

.project-gallery {
    padding: 180px 20px 20px 20px;
    background-color: #151c28;
    font-family: 'SF UI Display Thin', sans-serif;
    overflow: hidden;
}


.project-gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 24%;
}

.project-gallery-title {
    font-family: 'Future New Light', sans-serif;
    text-transform: uppercase;
    font-size: 76px;
}

.nav-arrows {
    display: flex;
    gap: 20px;
}

.nav-arrows button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.project-gallery-images {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    margin-left: -690px;

    transition: transform 0.8s ease-in-out;

}

.project-gallery-images img {
    width: 1120px;
    height: 740px;
}


/* Секция "Товары проекта" */


.project-products {
    padding: 180px 20px 200px 20px;
    background-color: #151c28;
    font-family: 'SF UI Display Thin', sans-serif;
    overflow: hidden;
}


.project-products-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 24%;  
    position: relative;
}

.up-title {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.project-products-title {
    font-family: 'Future New Light', sans-serif;
    text-transform: uppercase;
    font-size: 76px;
}

.nav-arrows-products {
    display: flex;
    gap: 20px;
}

.nav-arrows-products button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.popular-products {
    padding: 100px 20px 200px 20px;
    background-color: #151c28;
    font-family: 'SF Pro Display', sans-serif;
}

.popular-up-title {
    position: relative;
    top: 30px;
}

.popular-products-title {
    font-family: 'Future New Light', sans-serif;
    flex-grow: 1;
}

.popular-products-title h1 {
    font-size: 76px;
    text-transform: uppercase;
    padding-left: 28%;
    margin-bottom: 20px;
}

.nav-arrows button {
    border: none;
    background: none;
    cursor: pointer;
}

.product-cards {
    margin-top: 70px;
    display: flex;
    flex-wrap: nowrap;            
    gap: 20px;
    margin-left: -120px;  
}

.product-card {
    width: 265px;
    max-height: 504px;
    height: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
}

.product-card h1 {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 26px;
    color: #EDE4D7;
    font-weight: 900;
}


.product-card img {
    max-width: 265px;
    max-height: 292px;
    width: 100%;
    height: 100%;
}

.product-card p {
    margin: 5px 0;
    color: #EDE4D7;
}

.product-card-scope-container {
    width: 455px;
    height: 685px;
}

.product-card-scope {
    flex: 0 0 auto;             
    max-width: 455px;
    width: 100%;    
    display: flex;
    flex-direction: column;
}

.product-card-scope h1 {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 26px;
    color: #EDE4D7;
    font-weight: 900;
}

.product-card-scope p {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #EDE4D7;
}


.product-card-scope img {
    width: 100%;
    height: 100%;
    min-width: 455px;
    min-height: 502px;
}

.image-wrapper {
    position: relative;
}

.product-desc {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
}

.custom-desc {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.product-desc h3 {
    font-size: 16px;
}

.product-desc h4 {
    font-size: 16px;
    color: rgba(237, 228, 215, 0.4);
}

.open-all-catalog {
    margin-top: 60px;
    display: flex;
    gap: 10px;
}

.open-all-catalog a {
    font-weight: 600;
    border-bottom: 1px solid #EDE4D7;
    padding: 5px 0;
}

.badges {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px; 
}

.badge {
    padding: 5px 10px;
    background-color: #555D6F;
    color: #fff;
    margin-top: 5px;
    white-space: nowrap;
}

.badge.discount {
    position: relative; 
    top: unset;
    right: unset;
    background-color: #AE9877;
}

.badge.delivery {
    display: flex;
    align-items: center;
    gap: 6px; 
}

.badge.delivery img {
    width: 16px;
    height: 16px;
}

@media (max-width: 1587px) {
    .product-cards {
        margin-left: -250px;
    }
}

@media (max-width: 1383px) {
    .product-cards {
        margin-left: -300px;
    }
}

@media (max-width: 1200px) {
    .product-cards {
        margin-left: -430px;
    }
}

@media (max-width: 768px) {
    .product-cards {
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-card {
        max-width: 100%;
    }

    .product-card-scope {
        max-width: 100%;
    }

    .product-card-scope img {
        min-width: 100%;
        min-height: auto;
    }
} 


/* Секция "Отзывы от покупателей" */

.reviews {
    padding: 130px 20px 100px 20px;
    background-color: #151c28;
    font-family: 'SF Pro Display Thin', sans-serif; 
    overflow: hidden; 
}

.reviews-up-title {
    position: relative;
    top: -30px;
}

.middle-title {
    display: flex;
    align-items: flex-end;
}

.reviews-title{
    flex-grow: 1;
}

.reviews-title h1 {
    font-family: 'Future New Light', sans-serif;
    font-size: 76px;
    text-transform: uppercase;
    margin-bottom: 20px;
} 


.reviews-content {
    margin-top: 60px;
}

.reviews-content-container {
    display: flex;
    gap: 40px;
}


.rating-number {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    padding: 55px 55px;
    gap: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);

    background-image:
        linear-gradient(to right, 
            rgba(255, 255, 255, 0.4) 0%, 
            rgba(255, 255, 255, 0.4) 7%, 
            transparent 7%, 
            transparent 93%, 
            rgba(255, 255, 255, 0.4) 93%, 
            rgba(255, 255, 255, 0.4) 100%),
        linear-gradient(to right, 
            rgba(255, 255, 255, 0.4) 0%, 
            rgba(255, 255, 255, 0.4) 7%, 
            transparent 7%, 
            transparent 93%, 
            rgba(255, 255, 255, 0.4) 93%, 
            rgba(255, 255, 255, 0.4) 100%);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100% 1px; 
}


.rating-number p {
    white-space: nowrap;
}

.rating-number h1 {
    font-family: 'Future New Light', sans-serif;
    font-size: 93px;
}

.stars {
    display: flex;
    gap: 5px;
}

.prediction-cards {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    margin-top: -170px;
}

.prediction-cards header {
    margin-bottom: 60px;
}

.reviews-cards {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    padding-bottom: 20px;
    transition: transform 0.5s ease; 
}

.review-card {
    position: relative;
    min-width: 600px;
    width: 100%;
    min-height: 353px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    background-color: transparent;
    
    background-image:
        linear-gradient(to right, 
            rgba(255, 255, 255, 0.4) 0%, 
            rgba(255, 255, 255, 0.4) 7%, 
            transparent 7%, 
            transparent 93%, 
            rgba(255, 255, 255, 0.4) 93%, 
            rgba(255, 255, 255, 0.4) 100%),
        linear-gradient(to right, 
            rgba(255, 255, 255, 0.4) 0%, 
            rgba(255, 255, 255, 0.4) 7%, 
            transparent 7%, 
            transparent 93%, 
            rgba(255, 255, 255, 0.4) 93%, 
            rgba(255, 255, 255, 0.4) 100%);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100% 1px;
}

.review-text {
    text-align: left;
    max-width: 500px;
}

.review-text span a {
    color: rgba(237, 228, 215, 0.4);
}

.review-author {
    padding-top: 20px;
    font-family: 'Future New Light', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
}

.review-link a {
    font-size: 16px;
    margin-right: 10px;
    color: #BBB5AC;
}

.hide {
    display: none;
}

.nav-arrows-reviews {
    position: relative;
    bottom: 10px;
    z-index: 10;
}

.nav-arrows-reviews button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 1774px) {
    .prediction-cards {
        padding-left: 4%;
    }
}




/* Секция "Связаться с нами" */

.get-contact {
    padding: 150px 0 250px 20px;
    background-color: #151c28;
    font-family: 'SF Pro Display Thin', sans-serif; 
    background-image: url("../images/main-page/form-contact-us.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center right; 
}

.get-contact-container {
    display: flex;
    justify-content: space-between;
    height: 524px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.left-side img {
    width: 56px;
    height: 56px;
}

.img-side img {
    margin-top: -70px;
}

.main-side-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding-left: 10%;
}

.main-side-wrapper h1 {
    font-family: 'Future New Light', sans-serif;
    font-size: 76px;
    white-space: nowrap;
}

.main-side-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.opacity {
    opacity: 0;
}



/* Секция "Связаться с нами" */

.get-contact {
    padding: 150px 0 250px 20px;
    background-color: #151c28;
    font-family: 'SF Pro Display Thin', sans-serif; 
    background-image: url("../images/main-page/form-contact-us.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center right; 
}

.get-contact-container {
    display: flex;
    justify-content: space-between;
    height: 524px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.left-side img {
    width: 56px;
    height: 56px;
}

.img-side img {
    margin-top: -70px;
}

.main-side-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding-left: 10%;
}

.main-side-wrapper h1 {
    font-family: 'Future New Light', sans-serif;
    font-size: 76px;
    white-space: nowrap;
}

.main-side-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.opacity {
    opacity: 0;
}



/* Как удобнее связаться */


.contact-input-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: transparent;
    padding: 5px 0;
    gap: 8px;
    width: 105%;
}

.contact-input-menu input {
    width: 100%; 
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 18px;
    padding: 5px 0; 
}


.contact-input-fields {
    width: 100%;
    position: relative;
    padding-right: 40px;
    box-sizing: border-box; 
}

.contact-input-fields input {
    width: 100%;
    padding-right: 40px; /* чтобы текст не наезжал на стрелку */
    cursor: pointer;
    box-sizing: border-box;
}

.contact-input-fields svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}



.contact-input-fields-menu {
    width: 100%;
    position: relative;
    box-sizing: border-box; 
}

.contact-input-fields-menu input {
    width: 100%;
    padding-right: 40px; /* чтобы текст не наезжал на стрелку */
    cursor: pointer;
    box-sizing: border-box;
}

.contact-input-fields-menu svg {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}

/* Скрытое меню */
.menu-contact-method {
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    opacity: 0;
}

/* Видимое меню */
.menu-contact-method.open {
    max-height: 500px; /* Достаточно, чтобы вместить все пункты */
    max-width: 1000px;
    opacity: 1;
}

/* Стрелка вниз */
.dropdown-arrow {
    transition: transform 0.3s ease;
}

/* Поворот стрелки вверх */
.dropdown-arrow.rotated {
    transform: translateY(-50%) rotate(180deg);
}


.input-field::placeholder {
    color: #fff;
}


.contact-input {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    padding: 5px 0;
    gap: 8px;
    width: 105%;
}

.contact-input input {
    width: 100%; 
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 18px;
    padding: 5px 0; 
}

.error-contact {
    font-family: 'SF Pro Display', sans-serif; 
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: #EB5151;
    font-size: 14px;
    display: none;
    margin-top: 5px;
    padding-left: 5px;
}

.accept-politics {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.accept-politics p {
    font-size: 14px;
}

.accept-politics p span {
    color: #AE9877;
    border-bottom: 1px solid #AE9877;
}

.get-request-button {
    margin-top: 5px;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-size: 18px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
    text-align: center;
    padding: 20px 20px;
    background-color: #AE9877;
    cursor: pointer;
    border: none;
    color: #fff;
    transition: all 0.3s ease;
    width: 105%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.get-request-button:hover {
    background-color: #9c8766; 
    transform: scale(1.03);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.get-request-button .contact-icon {
    transition: transform 0.3s ease;
}

.get-request-button:hover .contact-icon {
    transform: translateX(5px);
}

.custom-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-img {
    width: 25px;
    height: 25px;
    background-image: url('../images/svg/checkbox.svg');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease; 
}

.custom-checkbox input:checked + .checkbox-img {
    background-image: url('../images/svg/check-mark.svg');
}


@media (max-width: 1660px) {
    .get-request-content iframe {
        margin-top: 210px;
    }
}

/* Footer */

.footer {
    padding: 100px 20px 20px 20px;
    background-color: #151c28;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300; 
}

.footer-container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1fr 2fr auto; 
    gap: 40px;
}

.footer-logo {
    width: 178px;
    height: 135px;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-navigation h1 {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 24px;
    transition: color 0.3s ease;
}

.footer-navigation h1:hover {
    color: #AE9877;
}

.footer-navigation ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
}

.footer-navigation ul li a {
    transition: color 0.3s ease;
}

.footer-navigation ul li a:hover {
    color: #AE9877;
}

.footer-address p {
    margin-bottom: 5px;
    color: rgba(237, 228, 215, 0.7);
}

.footer-address h1 {
    font-size: 38px;
    margin-bottom: 40px;
    font-family: 'SF Pro Display Thin', sans-serif; 
    font-weight: 600;
}

.footer-icons {
    display: flex;
    gap: 10px;
}

.footer-icon {
    height: 36px;
    width: 36px;
}

.footer-copyright {
    display: grid;
    grid-template-columns: 0.81fr 1.5fr 1fr auto;
    gap: 10px;
    padding: 20px 0;
}

.footer-copyright a {
    transition: color 0.3s ease;
}

.footer-copyright a:hover {
    color: #AE9877;
}




/* Модальное окно для просмотра видео */

.modal-video {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    justify-content: center;
    align-items: center;
}
  
.modal-content-video {
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
    background: #000;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.modal-content-video video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    max-height: 800px;
    height: auto;
    object-fit: contain;
    background-color: black;
}
  
.close-video {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 28px;
    color: white;
    cursor: pointer;
    z-index: 10;
}

/* Модальное окно "Связаться с нами" */

.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;  
    transform: scale(0.9); 
    transition: opacity 0.5s ease, transform 0.5s ease;  /* Плавная анимация */
}

.modal.open {
    display: flex;
    opacity: 1;  
    transform: scale(1);  
}

.modal-content {
    width: 725px;
    height: 849px;
    background-color: #151C28;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    min-width: 300px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.modal-content-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;

    position: relative;
}


.modal-content-info-inner button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}


.modal-content-info img {
    margin-bottom: 30px;
    width: 171px;
    height: 171px;
}

.phone-number {
    font-size: 20px;
    margin-bottom: 20px;
}

.modal-content-info h1 {
    font-family: 'Future New Light', sans-serif;
    font-size: 76px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.modal-description {
    font-size: 20px;
}

.contact-form-modal {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.contact-input-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    padding: 10px 0;
    gap: 8px;
    width: 100%;
}

.contact-input-modal input {
    width: 100%; 
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 18px;
    padding: 5px 0; 
}


.accept-politics-modal {
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.accept-politics-modal p {
    font-size: 14px;
}

.accept-politics-modal p span {
    color: #AE9877;
    border-bottom: 1px solid #AE9877;
}

.get-request-button-modal {
    margin-top: 10px;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-size: 18px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
    text-align: center;
    padding: 20px 20px;
    background-color: #AE9877;
    cursor: pointer;
    border: none;
    color: #fff;
    transition: all 0.3s ease;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.get-request-button-modal:hover {
    background-color: #9c8766; 
    transform: scale(1.03);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.get-request-button .contact-icon {
    transition: transform 0.3s ease;
}

.get-request-button:hover .contact-icon {
    transform: translateX(5px);
}


.custom-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-img {
    width: 25px;
    height: 25px;
    background-image: url('../images/svg/checkbox.svg');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease; 
}

.custom-checkbox input:checked + .checkbox-img {
    background-image: url('../images/svg/check-mark.svg');
}



/* Модальное окно "Спасибо за заявку" */

.modal-thanks {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;  
    transform: scale(0.9); 
    transition: opacity 0.5s ease, transform 0.5s ease;  
}

.modal-thanks.open {
    display: flex;
    opacity: 1;  
    transform: scale(1);  
}

.modal-content-thanks {
    width: 618px;
    height: 377px;
    background-color: #151C28;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    min-width: 300px;
    position: relative;
}

.modal-content-info-thanks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;

    position: relative;
}

.modal-content-info-thanks h1 {
    font-family: 'Future New Light', sans-serif;
    font-size: 76px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.modal-content-info-inner-thanks button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
}

.modal-content-info-inner-thanks svg {
    margin-bottom: 25px;
}

.modal-description-info {
    font-family: 'SF Pro Display Thin', sans-serif;
    font-weight: 300;
}


/* Модальное окно "Произошла ошибка" */

.modal-error {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;  
    transform: scale(0.9); 
    transition: opacity 0.5s ease, transform 0.5s ease;  
}

.modal-error.open {
    display: flex;
    opacity: 1;  
    transform: scale(1);  
}

.modal-content-error {
    width: 618px;
    height: 377px;
    background-color: #151C28;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    min-width: 300px;
    position: relative;
}