/* Модальное окно "Связаться с нами" */

.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;  
    transform: scale(0.9); 
    transition: opacity 0.5s ease, transform 0.5s ease;  
}

.modal.open {
    display: flex;
    opacity: 1;  
    transform: scale(1);  
}

.modal-content {
    max-width: 725px;
    width: 90%; 
    background-color: #151C28;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    min-width: 300px;
    position: relative;
    overflow-y: auto;
    max-height: 700px; 
    height: 100%;     
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.modal-content::-webkit-scrollbar {
    display: none;  
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.close-modal svg path {
    transition: stroke 0.3s ease;
}

.close-modal:hover svg path {
    stroke: #AE9877;
}

.modal-content-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    
}


.modal-content-info-inner button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal-content-info img {
    margin-bottom: 30px;
    width: 80px;
    height: 80px;
}

.phone-number {
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-modal-title {
    font-family: 'Future New Light', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.res-1024 {
    display: none;
    font-family: 'Future New Light', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.modal-description {
    font-size: 20px;
}

.contact-form-modal {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.contact-input-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    padding: 10px 0;
    gap: 8px;
    width: 100%;
}

.contact-input-modal input {
    width: 100%; 
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 18px;
    padding: 5px 0; 
}

.conta-input-modal-choice {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.accept-politics-modal {
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.accept-politics-modal p {
    font-size: 14px;
}

.accept-politics-modal p span {
    color: #AE9877;
    border-bottom: 1px solid #AE9877;
}

.get-request-button-modal {
    margin-top: 25px;
    font-family: 'SF Pro Display Thin', sans-serif;
    font-size: 18px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
    text-align: center;
    padding: 20px 20px;
    background-color: #AE9877;
    cursor: pointer;
    border: none;
    color: #fff;
    transition: all 0.3s ease;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.get-request-button-modal:hover {
    background-color: #9c8766; 
    transform: scale(1.03);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.get-request-button .contact-icon {
    transition: transform 0.3s ease;
}

.get-request-button:hover .contact-icon {
    transform: translateX(5px);
}


.custom-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-img {
    width: 25px;
    height: 25px;
    background-image: url('../images/svg/checkbox.svg');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease; 
}

.custom-checkbox input:checked + .checkbox-img {
    background-image: url('../images/svg/check-mark.svg');
}


/* Как удобнее связаться с нами в модалке */

.custom-select {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.select-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 18px;
  padding: 5px 0;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.custom-select.open .arrow-icon {
  transform: rotate(180deg);
}

.select-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #151C28;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 5px;
  list-style: none;
  padding: 0;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
}

.custom-select.open .select-options {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.select-options li {
  text-transform: uppercase;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease;
}

.select-options li:hover {
  background-color: rgba(255, 255, 255, 0.05);
}


/* Адаптив модального окна "Связаться с нами"*/

@media (max-width: 1040px) {
    .contact-modal-title {
        display: none;
    }

    .res-1024 {
        display: block;
    }
    
    .modal-content-info img {
        width: 80px;
        height: 80px;
    }

    .modal-description {
        font-size: 16px;
    }
}

@media (max-width: 1010px) {
    .res-1024 {
        font-size: 50px;
    }
}

@media (max-width: 680px) {
    .res-1024 {
        font-size: 40px;    
    }

    .modal-description {
        font-size: 14px;
    }

    .modal-content-info {
        padding: 10px 10px;
    }

    .contact-form-modal {
        gap: 10px;
    }

    .modal-content {
        max-height: 620px;
    }
    
    .error-contact {
        font-size: 12px;
    }

    .modal-content-info img {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}



@media (max-width: 480px) {
    .contact-form-modal {
        padding: 0 20px;
    }
}

@media (max-width: 460px) {
    .modal-content-info-inner img {
        width: 80px;
        height: 80px;
    }

    .res-1024 {
        font-size: 32px;
    }

    .phone-number {
        font-size: 16px;
    }

    .modal-description {
        font-size: 12px;
    }

    .error-contact {
        font-size: 10px;
    }

    .accept-politics-modal p {
        font-size: 10px;
    }

    .accept-politics-modal p span a {
        font-size: 10px;
    }
}

@media (max-width: 336px) {
    .modal-content {
        max-height: 620px;
    }
}